<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" routerLink="/">Rotaract 4430</a>
      </div>
      <ul class="nav navbar-nav">
          <li class="active"><a routerLink="/agenda">Agenda</a></li>
          <li class="active"><a routerLink="/faq">FAQ</a></li>
          <li class="active"><a routerLink="/clube">Clube</a></li>
          <li class="active"><a routerLink="/socio">Sócio</a></li>
          <li class="active"><a routerLink="/dados-estaticos">Dados estáticos</a></li>
      </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>