<h2>Sócios</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Nome</th>
      <th>Clube</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of socios" style="cursor:pointer;">
      <td (click)="editarSocio(item)">
        <img src="{{item.foto}}" height="100" width="100">
      </td>
      <td (click)="editarSocio(item)">{{item.nome}}</td>
      <td (click)="editarSocio(item)">{{item.clube}}</td>
      <td (click)="editarSocio(item)">
        <ul>
          <li *ngFor="let cargo of item.cargos">{{cargo.nome}} {{cargo.gestaoDe}}~{{cargo.gestaoAte}}</li>
        </ul>
      </td>
      <td>
        <span class="glyphicon glyphicon-remove"  style="color:red" (click)="excluir(item)"></span>
      </td>
    </tr>
  </tbody>
</table>
<button (click)="novo()" type="button" class="btn btn-default">Novo sócio</button>