<h2>Arquivos</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Categoria</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of arquivos" style="cursor:pointer;">
      <td routerLink="/arquivo/editar/{{item.rowKey}}">{{item.nome}}</td>
      <td routerLink="/arquivo/editar/{{item.rowKey}}">{{item.categoria}}</td>
      <td>  
        <span class="glyphicon glyphicon-remove"  style="color:red" (click)="excluir(item)"></span>
      </td>
    </tr>
  </tbody>
</table>
<button routerLink="/arquivo/novo" type="button" class="btn btn-default">Novo arquivo</button>