<h2>Agenda</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Descrição</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of tipoEventos">
      <td>{{item.id}} - {{item.descricao}}</td>
      <td><button type="button" class="btn btn-danger" (click)="excluir(item.id)">Excluir</button></td>
    </tr>
  </tbody>
</table>

<form (ngSubmit)="incluir()" #heroForm="ngForm">
  <div class="form-group">
    <label>Nova tipo de evento:</label>
    <input type="text" class="form-control" required [(ngModel)]="descricaoNovoEvento" name="a" id="a">
  </div>
  <button type="submit" class="btn btn-default" [disabled]="!heroForm.form.valid">Incluir</button>
</form>

<a routerLink="/" class="btn btn-default">Voltar</a>